.about {

  margin: 20px;
  background-color: white;
  color: white;
  margin: 20px;
  padding: 10px;

}
.profiles{
  display: flex;
  font-size: 10px;

}
.personal{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}
.summery{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.profiles span{

  margin-right: 5px;
  cursor: pointer;
  font-size: 12px;
}

.e{
  text-decoration: none;
  color: white;
  
}

.vm{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.contact-details{
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  padding-left: 10px;

  
  background-color: rgb(0, 0, 0);
  color: white;
}
.profilepic {
  margin-top: 20px;
  margin-right: 30px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid red;
}
@media only screen and (max-width: 714px) {
  .vm{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 100%;

  }.profiles{
    flex-wrap: wrap;
  }
  .contact-details{
    justify-content: center;
  }
 
  
}

.cover {
 display: flex;
 justify-content: flex-end;
  height: 100px;
  /* width: 80%; */
  background-color: black;
}
