.navbar{
    height: 60px;
    display: flex;
    overflow: hidden;
    background-color: black;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.item{
    display: flex;
    align-items: center;
    font-family: 'Slabo 27px', serif;

}
.logoimg{
    
    height: 80%;

    border-radius: 50%;
    border: 1px solid red;

}

.nav-items{
    color: white;
    margin-left: 10px;
}
.nav-items:hover{
    background-color: rgb(35, 35, 35);
    cursor: pointer;
    text-decoration: underline;
}